/* Use App.css for component-specific styles. If you have styles that are tightly coupled with a particular component and don't need to be available globally, place them in App.css or in the same file as the component itself. */

/* .piano {
  display: flex;
}

.octave {
  display: flex;
}

.key {
  height: 100px;
  width: 40px;
  border: 1px solid black;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
  height: 70px;
  width: 30px;
  margin-left: -15px;
  z-index: 1;
}

.black:hover {
  background-color: #333;
}

.black:active {
  background-color: #666;
}

.white:hover {
  background-color: #ccc;
}

.white:active {
  background-color: #eee;
} */
